.git
.gitignore
API-Key.env
README.md
architecture.drawio.png
__pycache__
env
prompts.txt
test.py
dummielinter.py
ABAPExamples
jsonify.py
openapi.yml
JSON/client.json
JSON/exampleLint.json
JSON/Layout.json
JSON/LayoutTemplate.json
JSON/openAPI.json
PythonExamples/example.py
PythonExamples/heap.py
PythonExamples/main.py
website/node_modules