.App {
  text-align: center;
  background-color: #12121f;
  display: flex;
  min-height: 100vh;
  align-items: center;
  color: white;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  font-size: calc(6px + 2vmin);
}

.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 200px;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button:hover,
.button:focus {
  opacity: 0.75;
}

.result {
  font-family: "Fira Code", monospace;
  text-align: left;
}
