
.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.code-editor {
  min-width: 200px;
  width: 100%;
  clear: left;
}

.button {
  clear: left;
}

.lang-select {
  max-width: 200px;
}